<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.job">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOB"
        tools:targetApi="31">
        <activity
            android:name=".Applicants"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminDashbaord"
            android:exported="false" />
        <activity
            android:name=".Upload_cv"
            android:exported="false" />
        <activity
            android:name=".ApplyJob"
            android:exported="false" />
        <activity
            android:name=".add_job"
            android:exported="false" />
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".admin_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".main_dashboad"
            android:exported="false" />
        <activity
            android:name=".users_registration"
            android:exported="false" />
    </application>

</manifest>